.Details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
    padding: 40px 60px;
}

.Details > div {
    margin: 0;
    width: auto;
}

@media (max-width: 900px) {
    .Details {
        grid-template-columns: 1fr;
        padding: 20px;
    }
}